47224 - André Graça <A47224@alunos.isel.pt> <sindrome.gracinha@gmail.com>
48459 - Diogo Santos <a48459@alunos.isel.pt> <A48459@alunos.isel.pt>
48263 - Gonçalo Dimas <a48263@alunos.isel.pt> <a48263@alunos.isel.pt>